
h1 {
    font-size: 48px;
    text-align: center;
}

#instructions {
    padding: 10px;
}

.container {
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(0, 0, 0);
    height: auto;
}


.gemImage {
    
    width: 250px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
}

.tile {
    clear: left;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    padding: 10px;

}